@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter";
}
.container{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --text: #000;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 25px;
}
.header__list{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.header__logo{
    color: var(--text);
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.header__form{
    transform: translateX(60px);
}
.header__form-btn{
    border: none;
    background: none;
    font-size: 16px;
    margin-right: 12px;
}
.header__input{
    border: none;
    background: none;
    font-size: 16px;
    line-height: 19px;
    color: #718096;
    padding: 10px;
}
.header__link{
    font-size: 16px;
    line-height: 19px;
    color: var(--text);
}
.header__btn{
    color: #454444;
    font-size: 20px;
}
.intro{
    background: #FBFBFB;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 40px;
}
.intro__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro__title{
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    color: #000;
    display: inline-block;
    max-width: 400px;
    width: 100%;
}
.intro__title-img{
    transform: translateY(30%);
}
.intro__txt{
    font-size: 30px;
    line-height: 36px;
    color: #4A5568;
    margin-top: 20px;
}
.about{
    margin-bottom: 45px;
}
.about__body{
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.about__content{
    padding: 44px 65px;
    display: inline-block;
}
.about__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #2D3748;
    margin-bottom: 27px;
}
.about__txt{
    font-size: 14px;
    line-height: 17px;
    color: #718096;
    max-width: 400px;
    width: 100%;
    margin-bottom: 30px;
}
.about__img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 5px 5px 0;
}
.about__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__info-txt{
    font-size: 12px;
    line-height: 15px;
    color: #718096;
}
.about__info-link{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #2D3748;
}
.cards{
    margin-bottom: 45px;
}
.cards__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards__item{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
}
.cards__content{
    padding: 15px;
}
.cards__title{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2D3748;
    margin: 15px 0;
}
.cards__txt{
    font-size: 14px;
    line-height: 17px;
    color: #718096;
    max-width: 265px;
    width: 100%;
    margin-bottom: 22px;
}
.cards__info-txt{
    font-size: 12px;
    line-height: 15px;
    color: #718096;
}
.cards__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards__info-link{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #2D3748;
}